* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
::-webkit-scrollbar{
  display: none;
}
.shop-table-container {
  width: 100%;
  padding: 20px;
}

.add-shop-form {
  margin-bottom: 20px;
  margin-top: 1vmax;
}

.add-shop-form input {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-shop-form button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.add-shop-form button:hover {
  background-color: #218838;
}

.shop-table {
  width: 100%;
  border-collapse: collapse;
}

.shop-table th, .shop-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.shop-table th {
  background-color: black;
  color: white;
}

.shop-table td button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.shop-table td button:hover {
  background-color: #0056b3;
}

.shop-dp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 960px) {
  .shop-table-container{
    padding: 10vmax 20px 20px 20px;
  }
}



