* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.main {
  min-height: 100vh;
  height: fit-content;
  width: 100vw;
  background-color: #f5f4f4;
  /* display: flex; */
}

/* Top Nav Starting */
.top-nav {
  display: flex;
  position: absolute;
}

/* Search box startig */
.searchBox {
  width: 90%;
  background-color: #f5f4f4;
  position: fixed;
  top: 0;
  z-index: 99;
  padding: 0vmax 3vmax;
  padding-top: 2vmax;
  overflow: hidden;
}
.category {
  width: 90%;
  height: fit-content;
  padding: 10vh 4vmax;
  overflow-y: scroll;
  /* background-color: red; */
  position: relative;
}
.search {
  width: 100%;
  padding: 16px 60px;
  background-color: white;
  border: none;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  outline: none;
  transition: all ease-in 0.3s;
}

.search:focus {
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.17);
}
.search-div {
  position: relative;
  /* background-color: red; */
  overflow: hidden;
}
/* Search box ending */

/* Logo starting */
.icon {
  position: absolute;
  /* width: var(--size-button); */
  height: 47px;
  color: white;
  top: 0%;
  left: 0%;
  padding: 8px;
  pointer-events: none;
  border-radius: 50% !important;
  background-color: #191a1e;
}

.icon svg {
  width: 100%;
  height: 100%;
  fill: white;
}

/* Logo Ending */

/* Side Nav Starting */

nav {
  padding: 1vmax 0vmax;
}
.logo {
  width: 7vmax;
  height: 7vmax;
  border-radius: 50%;
  overflow: hidden;
}
.logo > img {
  width: 100%;
  object-fit: cover;
}

.sideNav {
  width: 10%;
  gap: 2vmax;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  right: 0;
  z-index: 99;
  top: 0;
}
.sideNavBase {
  width: 5.5vmax;
  height: 80vh;
  border-radius: 35px;
  background-color: white;
  overflow: hidden;
  padding: 24px 0px;
  display: flex;
  /* gap: 4vmax; */
  flex-direction: column;
  justify-content: space-between;
}
.sideNavBase img {
  width: 1.5vmax;
}
.sideNavBase a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navTop {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  /* background-color: rebeccapurple; */
  gap: 1vmax;
}
.navTop img {
  height: 1.5vmax;
}
.navTop a {
  padding: 1vmax;
}
.active > img {
  /* height: 1.3vmax; */
  filter: invert(1);
}
.active {
  background-color: black;
  border-radius: 15px;
  box-shadow: 0px 4px 7.2px 1px #00000086;
}
.logout {
  padding: 0.6vmax 0.5vmax;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
}

.navBottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 10px 0px;
  /* background-color: rgb(51, 153, 53); */
  gap: 2vmax;
}
.profile {
  width: 2.8vmax;
  height: 2.8vmax;
  border-radius: 50%;
  overflow: hidden;
}
.profile > img {
  width: 100%;
  object-fit: cover;
}
/* Side Nav Ending */

/* Ads Starting */

.ad-base {
  width: 100%;
  padding: 1.5vmax 0vmax;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3vmax;
}
.boxex {
  width: 24vmax;
  cursor: pointer;
}

.boxex > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.layout {
  background-color: red;
}
/* Ads Ending */

/* Shops Starting */
.shopBase {
  width: 100%;
  padding-left: 0vmax;
  height: fit-content;
}
.container {
  width: 100%;
  margin-top: 1vmax;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
}
.shoperBox {
  width: 12vmax;
  height: 14vmax;
  overflow: hidden;
  position: relative;
  background-color: white;
  border-radius: 12px;
}
.shoperBox:hover .top > img {
  scale: 1.1;
}
.top {
  width: 100%;
  height: 80%;
  overflow: hidden;
}
.top > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
.name {
  width: 100%;
  height: 20%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Shops ending */

/* responsive home */
@media screen and (max-width: 768px) {
  .sideNav {
    display: none;
  }
  .searchBox {
    width: 100%;
  }
  .category {
    width: 100%;
  }
}
@media screen and (max-width: 430px) {
  .boxex {
    width: unset;
  }
  .shoperBox {
    width: 47%;
    height: 24vh;
  }
}
