* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
.shoppingCart{
  width: 100vw;
  height: 100vh;
  padding: 3vmax 4vmax;
  background-color: #f5f4f4;
}
.button{
  color: white;
}
.longBox{
  width: 85vw;
  height: fit-content;
  padding: 1vmax;
  background-color: rgb(255, 255, 255);
}
.shoppingItemImg{
  width: 20%;
 
}
.shoppingCart h2{
  font-weight: 400;
  color: rgba(0, 0, 0, 0.719);
}
.shoppingCart h2 span{
  color: black;
  font-weight: 600;
}
.shoppingItemImg img{
  width: 100%;

  object-fit: cover;
}
.shoopingDetails{
  width: 76%;
  display: flex;
  flex-direction: column;
  gap: 1vmax;
}
.shoopingDetails p{
  color: #9c9a9a;
}
.shoopingDetails p > b{
  color: black;
}
.shoopingDetails h3{
font-weight: 600;
}
.shoopingDetails span{
  color: white;
}

.longBox h1{
  font-weight: 500;
}
.shoopingDetails a{
  color: rgb(0, 123, 255);
  font-size: .8rem;
}
.line{
  width: 100%;
  height: 1px;
  background-color: #dddddd;
  margin-top: 1vmax;
}
.itemsList{
  width: 100%;
  /* height: 30vh; */
  margin-top: 1vmax;
display: flex;
  
}
.billContainer{
  width: 100%;
  margin-top: 1vmax;
  display: flex;
  flex-direction: column;
  gap: .5vmax;
}
.payrap{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button2 {
  position: relative;
  width: 150px;
  /* height: 40px; */
  cursor: pointer;
  display: flex;
  border-radius: 7px;
  overflow: hidden;
  color: white;
  align-items: center;
  font-weight: 500;
  font-size: 1vmax;
  justify-content: center;
  border: 1px solid #34974d;
  background-color: #3aa856;
}

.button2 .button__text {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}

.button__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}

.button__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.svg {
  width: 24px;
  height: 24px;
  stroke: #fff;
}

.button:hover {
  background: #34974d;
}

.button:active .button__icon {
  background-color: #2e8644;
}

.button:active {
  border: 1px solid #2e8644;
}

@media screen and (max-width: 430px) {
  .itemsList{
 width: unset;
  }
  .shoppingItemImg{
    width: 100%;
   
  }
  .shoopingDetails{
    width: 100%;
    /* display: flex;
    flex-direction: column; */
    gap: 1vmax;
  }
  .shoopingDetails p{
    display: none;
  }
  .shoppingCart{
   padding: 0 0;
  }
  .longBox{
    width: 100vw;
    height: fit-content;
    padding: 1vmax;
    background-color: rgb(255, 255, 255);
  }
}
